@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;700&display=swap');

body {
    background: rgb(31,155,167);
    background: radial-gradient(circle, rgba(31,155,167,1) 0%, rgba(29,154,166,1) 35%, rgba(0,188,226,1) 100%);
    font-family: 'Roboto Slab', serif;

}

h1 {
    font-weight: 700;
    font-size: 50px;
    text-align: center;
    color: #f6f6f6;
    margin-top: 100px;
}

.quiz {
   
    &.fade-enter {
        opacity: 0;
    }

    &.fade-enter-active {
        opacity: 1;
        transition: opacity .5s ease-in;
    }

    &.fade-leave {
        opacity: 1;
    }

    &.fade-leave-active {
        opacity: 0;
        transition: opacity .1s ease-out;
    }
}

.quizbox {
    background: #fff;
    padding: 30px;
    max-width: 90%;
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: 2px 1px 5px -1px rgba(18,125,134,0.57);
    -webkit-box-shadow: 2px 1px 5px -1px rgba(18,125,134,0.57);
    -moz-box-shadow: 2px 1px 5px -1px rgba(18,125,134,0.57);

    @media (min-width: 800px) {
        max-width: 790px;
        padding: 50px;
    }
}

.question {
    color: #222;
    font-size: 22px;
    font-weight: 400;
    line-height: 1.2;
    margin: 0;

    @media (min-width: 600px) {
        font-size: 26px;
    }

    @media (min-width: 800px) {
        font-size: 45px;
    }
}

.question-total {
    padding-bottom: 10px;
    font-size: 18px;
    color: #222;
    margin: 0 auto;
    display: block;

    @media (min-width: 800px) {
        font-size: 24px;
        padding-bottom: 30px;
    }
}

#submit {
    text-align: center;
    height: 100px;
    margin-top: 30px;
    display: flex;
}

ul.answers {
    list-style-type: none;
    padding: 0;
    margin-top: 20px; 
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

    @media (min-width: 600px) {
        margin: 50px auto 0 auto;
    }

    li {
        cursor: pointer;
        color: #222;
        font-weight: 300;
        text-align: left;
        display: grid;
        grid-template-columns: 45px 1fr;
        align-items: center;
      
        &:after {
            display: block;
        }

        &:hover {
            p {
                color: pink;
            }

            span {
                transform: scale(1.1);
            }
        }

        .disabled {
            color: #ddd;

            span {
                background-color: #ddd;
            }
        }

        &.correct {
            p, p.disabled {
                color: #589c4e!important;

                span {
                    background-color: #589c4e!important;
                    transform: scale(1.1) !important; 
                }
            }
        }

        &.incorrect {
            p, p.disabled {
                color: red!important;

                span {
                    background-color: red!important;
                    transform: scale(1.1) !important;
                }
            }
        }

        p {
            color: #222;
            font-size: 18px;
            line-height: 1.2;
            margin: 13px 0;

            @media (min-width: 600px) {
                font-size: 24px;
            }

            &.disabled {
                pointer-events: none;
                color: #ddd;

                span {
                    background-color: #ddd;
                }
            }
        }

        span {
            color: #fff;
            background-color: pink;
            border-radius: 50%;        
            margin-right: 20px;
            transition-property: transform, background-color;
            transition-timing-function: ease;
            transition-duration: .3s;
            width: 35px;
            height: 35px;
            display: grid;
            justify-items: center;
            align-items: center;
        }
    }   
}

.fancy-btn {
    border: none;
    border-bottom: 4px solid #CE2944;
    background-color: pink;
    color: #fff;
    display: block;
    font-size: 18px;
    padding: 15px 45px;
    transition: transform .2s ease;
    cursor: pointer;
    transform: scale(1);
    margin: 20px auto;
    outline: none;

    &:hover, &:focus, &:active {
        transform: scale(1.03);
        outline: none;
    } 
}

.app-container {
    z-index: 1;
}

.correct-answers {
    background: #fff;
    height: 90px; 
    color: #000;
}
