body {
    background-color: #1D9AA6;
    font-family: Helvetica, sans-serif;
}

h1 {
    font-family: Arial;
    font-weight: normal;
    font-size: 50px;
    text-align: center;
}

.quiz {
   
    &.fade-enter {
        opacity: 0;
    }

    &.fade-enter-active {
        opacity: 1;
        transition: opacity .5s ease-in;
    }

    &.fade-leave {
        opacity: 1;
    }

    &.fade-leave-active {
        opacity: 0;
        transition: opacity .1s ease-out;
    }
}

.quizbox {
    background: #fff;
    padding: 30px;
    max-width: 90%;
    margin: 0 auto;

    @media (min-width: 800px) {
        max-width: 790px;
        padding: 50px;
    }
}

.question {
    color: darkblue;
    font-size: 22px;
    line-height: 1.2;

    @media (min-width: 600px) {
        font-size: 26px;
    }

    @media (min-width: 800px) {
        font-size: 45px;
    }
}

.question-total {
    padding-bottom: 10px;
    font-size: 18px;
    color: darkblue;
    margin: 0 auto;
    display: block;

    @media (min-width: 800px) {
        font-size: 24px;
        padding-bottom: 30px;
    }
}

#submit {
    text-align: center;
    height: 100px;
    margin-top: 30px;
    display: flex;
}

ul.answers {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;

    @media (min-width: 600px) {
        margin: 50px auto 0 auto;
    }

    li {
        cursor: pointer;
        color: darkblue;
        text-align: left;
        width: 50%;
        display: flex;
        align-items: center;

        &:after {
            display: block;
        }

        &:hover {
            p {
                color: pink;
            }

            span {
                transform: scale(1.1);
            }
        }

        .disabled {
            color: #ddd;

            span {
                background-color: #ddd;
            }
        }

        &.right {
            p, p.disabled {
                color: #589c4e!important;

                span {
                    background-color: #589c4e!important;
                    transform: scale(1.1) !important; 
                }
            }
        }

        &.wrong {
            p, p.disabled {
                color: red!important;

                span {
                    background-color: red!important;
                    transform: scale(1.1) !important;
                }
            }
        }

        p {
            display: flex;
            align-items: center;
            color: darkblue;
            font-size: 18px;
            line-height: 1.2;
            margin: 13px 0;

            @media (min-width: 600px) {
                font-size: 24px;
            }

            &.disabled {
                pointer-events: none;
                color: #ddd;

                span {
                    background-color: #ddd;
                }
            }
        }

        span {
            color: #fff;
            background-color: pink;
            border-radius: 50%;
            width: 35px;
            height: 35px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-shrink: 0;
            margin-right: 20px;
            transition-property: transform, background-color;
            transition-timing-function: ease;
            transition-duration: .3s;
        }
    }   
}

.fancy-btn {
    border: none;
    border-bottom: 4px solid #CE2944;
    background-color: pink;
    color: #fff;
    display: block;
    font-size: 18px;
    padding: 15px 45px;
    transition: transform .2s ease;
    cursor: pointer;
    transform: scale(1);
    margin: 20px auto;
    outline: none;

    &:hover, &:focus, &:active {
        transform: scale(1.03);
        outline: none;
    }

    &.share-btn {
        display: flex;
        align-items: center;
        padding: 15px 35px;
        margin: 20px auto 0 auto;

        span {
            padding-left: 10px;
        }
    }
}

.app-container {
    z-index: 1;
}

.correct-answers {
    background: #fff;
    height: 90px; 
    color: #000;
}
